.main {
    padding: 0 30px 30px 0;
}

.main ul{
    list-style: none;
}

.main a{
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: .3s;
}

.main a:hover {
    transform: translateX(20px);
}

.main a.active {
   border-left: 10px gray solid;
    transform: translateX(0);
}
.main li:nth-child(1) a.active {
    border-left-color: green;
}.main li:nth-child(2) a.active {
    border-left-color: yellow;
}.main li:nth-child(3) a.active {
    border-left-color: orangered;
}.main li:nth-child(4) a.active {
    border-left-color: red;
}